body {
	background-image: url("../images/wallpaper-retro-zelda.jpg");
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: gold;
	font-size: 20px;
}

#rupeeCollector {

}

#wins {
}

#rupee1, 
#rupee2, 
#rupee3,
#rupee4 {
	
}